[submodule "src/plugins/powercord-compat/powercord-git"]
	path = src/plugins/powercord-compat/powercord-git
	url = https://github.com/powercord-org/powercord.git
[submodule "src/plugins/powercord-compat/plugins/powercord-no-swearing"]
	path = src/plugins/powercord-compat/plugins/powercord-no-swearing
	url = https://github.com/Lisenaaaa/powercord-no-swearing.git
[submodule "src/plugins/powercord-compat/plugins/powercord-greentext"]
	path = src/plugins/powercord-compat/plugins/powercord-greentext
	url = https://github.com/yuwui/powercord-greentext
[submodule "src/plugins/powercord-compat/plugins/At-Someone"]
	path = src/plugins/powercord-compat/plugins/At-Someone
	url = https://github.com/SammCheese/At-Someone
