[submodule "src/plugins/rk-powercord-compat/powercord-git"]
	path = src/plugins/rk-powercord-compat/powercord-git
	url = https://github.com/powercord-org/powercord.git
[submodule "src/plugins/rk-powercord-compat/plugins/powercord-no-swearing"]
	path = src/plugins/rk-powercord-compat/plugins/powercord-no-swearing
	url = https://github.com/Lisenaaaa/powercord-no-swearing.git
[submodule "src/plugins/rk-powercord-compat/plugins/powercord-greentext"]
	path = src/plugins/rk-powercord-compat/plugins/powercord-greentext
	url = https://github.com/yuwui/powercord-greentext
[submodule "src/plugins/rk-powercord-compat/plugins/At-Someone"]
	path = src/plugins/rk-powercord-compat/plugins/At-Someone
	url = https://github.com/SammCheese/At-Someone
[submodule "src/plugins/rk-powercord-compat/plugins/bdCompat"]
	path = src/plugins/rk-powercord-compat/plugins/bdCompat
	url = https://github.com/Juby210/bdCompat.git
[submodule "src/plugins/rk-powercordulator/plugins/powercord"]
	path = src/plugins/rk-powercordulator/plugins/powercord
	url = https://github.com/powercord-org/powercord.git
[submodule "src/plugins/rk-powercordulator/powercord"]
	path = src/plugins/rk-powercordulator/powercord
	url = https://github.com/powercord-org/powercord.git
[submodule "src/plugins/rk-powercordulator/powercord-git"]
	path = src/plugins/rk-powercordulator/powercord-git
	url = https://github.com/powercord-org/powercord.git
